* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;	
}

body {
    padding: 40px;
    text-align: center;
    margin: auto 0;

    background-color: #ffffff;
}

#rubber-ducky {
    height: 225px;
    width: 200px;
}
